@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel
<!--Adam Neumiller

 Section 3 Assignment #7

 Assignment #8

    IS 413 –HiltonAssignment #8Continuing the Bookstore project from Assignments #5-7, add the ability for the user to add books to their 
    shopping cart.  The cart should update the quantity, price, subtotal, and total for each book that is added.  The information should stay 
    in the cart as long as the app is running.Include the functionality for the user to “Continue Shopping” and go back to the page where they
    left off when they added the item to their cart.Also add the functionality to the app to:•Remove items from the cart•Display the cart summary
    on the navbar so that it is displayed on each page(#notcoveredinthevideos, but Ch. 9 in the Freeman textbook will be a great resource)Make sure 
    to:•Use a Razor page forthe Shopping Cart.•Use a SQLite database.  (Convert from SQLServer if necessary.)


    -->
<div class="text-center">
    <div class="text-center">
        <table class="center table table-dark table-striped table-hover table-bordered">
            <!--Table for the database-->
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Author First Name</th>
                    <th>Author Middle Initial</th>
                    <th>Author Last Name</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Total Pages</th>
                    <th>Purchase</th>

                </tr>
            </thead>



            <tbody>
                <!--Loops through all of the items in the database to print them out here-->
                @foreach (var x in Model.Books)
                {
                    //See BookSummary.cshtml
                    <partial name="BookSummary" model="x" />
                }
            </tbody>
        </table>
    </div>
    <!--Import the page navigation Model and Action
    <div page-model="@Model.PagingInfo" page-Action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-ouline-dark" page-class-selected="btn-light"
         class="pull-right m1 "> </div>
    -->

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-dark"
         class="text-center bg-light m1" page-url-category="@Model.CurrentCategory">



    </div>
</div>


