@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel
<!--Adam Neumiller

 Section 3 Assignment #7

 Assignment #7

    The following functionalites were added to the program

    •Add the ability to filter by category in the Controller•Improve the URLs to a pattern that is more user-friendly
    •Build in the functionality so that the category is dynamically-displayed in the URL
    •Insert the category menu using theView Componentmethod
    •Build the partial viewused by the View Component to dynamicallydisplay the list of categorie
    s•Filter the results by category•Dynamically highlight the category that has been selected
    •Fix the page numbering to match the number ofitems by category


    -->
<div class="text-center">
    <div class="text-center">
        <table class="center table table-dark table-striped table-hover table-bordered">
            <!--Table for the database-->
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Author First Name</th>
                    <th>Author Middle Initial</th>
                    <th>Author Last Name</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Total Pages</th>

                </tr>
            </thead>



            <tbody>
                <!--Loops through all of the items in the database to print them out here-->
                @foreach (var x in Model.Books)
                {
                    //See BookSummary.cshtml
                    <partial name="BookSummary" model="x" />
                }
            </tbody>
        </table>
    </div>
    <!--Import the page navigation Model and Action
    <div page-model="@Model.PagingInfo" page-Action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-ouline-dark" page-class-selected="btn-light"
         class="pull-right m1 "> </div>
    -->
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-dark"
         class="text-center bg-light m1" page-url-category="@Model.CurrentCategory">



    </div>
</div>


